<div class="hero">
  <div class="hero__grid">
    <button class="hero__button" (click)="squareClicked(1);">1</button>
    <button class="hero__button" (click)="squareClicked(2);">2</button>
    <button class="hero__button" (click)="squareClicked(3);">3</button>
    <button class="hero__button" (click)="squareClicked(4);">4</button>
    <button class="hero__button" (click)="squareClicked(5);">5</button>
    <button class="hero__button" (click)="squareClicked(6);">6</button>
    <button class="hero__button" (click)="squareClicked(7);">7</button>
    <button class="hero__button" (click)="squareClicked(8);">8</button>
    <button class="hero__button" (click)="squareClicked(9);">9</button>
    <button class="hero__button" (click)="squareClicked(10);">10</button>
  </div>
</div>